body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #007bff;
    color: white;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header .logo {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.header .logo img {
    height: 40px;
}

.header .company-name h6 {
    margin: 0;
    font-size: 19px;
    line-height: 1.4;
}

.container {
    margin-top: 95px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-body {
    padding: 30px;
    background-color: #ffffff;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-list table thead {
    background-color: #007bff;
    color: white;
    border-radius: 8px;
}

.user-list table th, .user-list table td {
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #dddddd;
}

.user-list table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

.user-list table tbody tr:nth-child(even) {
    background-color: #e2e6ea;
}

.user-list table tbody tr:hover {
    background-color: #d1ecf1;
}

.user-list table th {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.user-list table td {
    font-size: 14px;
    color: #333333;
}

.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
    font-size: 14px;
    border-radius: 20px;
    padding: 6px 12px;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
    font-size: 14px;
    border-radius: 20px;
    padding: 6px 12px;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn-outline-warning {
    border-color: #ffc107;
    color: #ffc107;
    font-size: 14px;
    border-radius: 20px;
    padding: 6px 12px;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.btn-outline-warning:hover {
    background-color: #ffc107;
    color: black;
}

.new-user-btn {
    margin-bottom: 20px;
}

.new-user-btn button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.new-user-btn button:hover {
    background-color: #0056b3;
}

.passive {
    background-color: #e0e0e0; /* Gri arka plan rengi */
    color: #888; /* Yazı rengi daha soluk */
    font-style: italic; /* Yazıyı italik yapar */
}

.passive td:first-child {
    color: red; /* Kullanıcı adının rengi kırmızı */
}

.passive .status {
    color: red; /* "Pasif" etiketinin rengi kırmızı */
    font-weight: bold;
    margin-left: 10px;
}

